<div class="d-flex justify-content-center" style="margin: 20px;">
  <div class="card" style="width: 80%; box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);">
    <img class="card-img-top mx-auto" src={{selectedMenProducts.image}} alt="Card image cap" style="height: 500px; width: 500px; display: block;">
    <div class="card-body">
      <h5 class="card-title">{{selectedMenProducts.title}}</h5>
      <p class="card-text">{{selectedMenProducts.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price : {{selectedMenProducts.price}}$</li>
      <li class="list-group-item">Rate : {{selectedMenProducts.rating.rate}}</li>
      <li class="list-group-item">Count : {{selectedMenProducts.rating.count}}</li>
    </ul>
  </div>
</div>
